# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Output & Recordings
output/
recordings/

# Test outputs
*.log
*.tmp

# Environments
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Others
*.bak
*.swp

# Ignore test audio files
*.mp3
*.wav
